body {
  margin: 0;
  padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.rectangle {
  width: 349px;
  height: 645px;
  margin:0;
}
.rectangle-top {
  width: auto;
  height: 100px;
  background-color: hsl(0, 0%, 78%); 
  margin-bottom: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  font-style: normal;
  font-weight: 500;
  font-size:30px;
  line-height: 24px;
}

.back{
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 14px;
  font-weight: 700;
}

.basket{
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 14px;
  font-weight: 500;
}